[user]
    name = Michael Foukarakis
    email = michael.foukarakis@bmw.de
[gui]
[color]
    diff = auto
    status = auto
    branch = auto
[core]
    pager = less
    editor = vim
[core "whitespace"]
    tabwidth = 4
[diff]
    tool = vimdiff
[alias]
    history = log --color --graph --pretty=format:'%Cred%h%Creset | %s %Cgreen(%cr)%Creset [%C(bold blue)%an%Creset]'
    find = log --pretty='format:%Cgreen%H %Cblue%s%Creset' --name-status --grep
    slog = log --color --pretty=format:'%Cred%H%Creset | %<(72)%s %Cgreen(%ci)%Creset'
[push]
    default = matching
[gc]
    auto = 256
[pull]
    rebase = true
[gitreview]
    remote = origin
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
[credential]
    helper = osxkeychain
[clean]
    requireForce = false
